html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.message-wrapper {
    float: right;
    margin: 1em;
    border: black 1px solid;
    width: 260px;
    height: auto;
    position: relative;
    /* overflow: auto; */
}

.message-display {
    width: 100%;
    position: absolute;
    top: 1.5em;
    bottom: 0;
    /* height: fit-content; */
    overflow-y: scroll;
    margin: 0;
    height: auto;
}

.message {
    border-bottom: gray 1px solid;
    margin: 0;
    width: 100%;
    height: fit-content;
}

.status-bar {
    text-decoration-style: solid;
    border-bottom: black 1px solid;
    width: 100%;
    height: 1.5em;
}

.game-board {
    display: inline;
    overflow: auto;
    width: fit-content;
    height: fit-content;
}

.row {
    display: flex;
}

.cell {
    display: inline;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    font-size: 1em;
    border: gray 2px solid;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.player-display {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

div.cell-wall-top {
    border-top: red 2px solid;
}

div.cell-wall-bottom {
    border-bottom: red 2px solid;
}

div.cell-wall-left {
    border-left: red 2px solid;
}

div.cell-wall-right {
    border-right: red 2px solid;
}

div.cell-reachable {
    background: green;
}

div.cell-reachable:hover {
    background: greenyellow;
}

.game-board div.cell-chosen {
    background: darkgreen;
}

.wall-dir-option {
    background: rgba(0, 0, 255, 150);
    position: absolute;
    z-index: 10;
}

.wall-dir-option:hover {
    background: rgba(0, 150, 255, 150);
}

.wall-dir-option-left {
    margin-top: 0.15em;
    left: -0.3em;
    width: 0.45em;
    height: 0.9em;
}

.wall-dir-option-right {
    margin-top: 0.15em;
    right: -0.3em;
    width: 0.45em;
    height: 0.9em;
}

.wall-dir-option-top {
    margin-left: 0.15em;
    top: -0.3em;
    width: 0.9em;
    height: 0.45em;
}

.wall-dir-option-bottom {
    margin-left: 0.15em;
    bottom: -0.3em;
    width: 0.9em;
    height: 0.45em;
}

#content {
    display: flex;
}

.dialog {
    position: absolute;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    display: none;
    background: #ffffff;
    left: 30px;
    right: 30px;
    top: 30px;
    z-index: 20;
}

.dialog-open {
    display: block;
}

.dialog-title {
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    width: 100%;
    font-size: 2em;
    margin: 0;
    border-bottom: solid #aaaaaa 1px;
    background: #417690;
    border-radius: 0.5em 0.5em 0 0;
}

.dialog-body {
    margin: 0;
    padding: 0.2em;
    width: 100%;
}

.dialog-button-wrapper {
    display: flex;
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 2px;
}

.dialog-button-wrapper .button {
    width: auto;
    margin-left: 2px;
    margin-right: 0;
}

.dialog-button-wrapper .button:first-child {
    margin-left: 0;
}

table {
    margin: auto;
}

@media all and (max-width: 800px) {
    /* 窄屏 */
    #content {
        display: block;
    }

    .game-board {
        display: block;
        margin: auto;
    }

    .message-wrapper {
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: auto;
        height: 200px;
    }
}

