html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.message-wrapper {
    float: right;
    margin: 1em;
    border: black 1px solid;
    width: 10em;
    height: 90%;
    position: relative;
    /* overflow: auto; */
}

.message-display {
    width: 100%;
    position: absolute;
    top: 1.5em;
    bottom: 0;
    /* height: fit-content; */
    overflow-y: scroll;
    margin: 0;
    height: auto;
}

.message {
    border-bottom: gray 1px solid;
    margin: 0;
    width: 100%;
    height: fit-content;
}

.status-bar {
    text-decoration-style: solid;
    border-bottom: black 1px solid;
    width: 100%;
    height: 1.5em;
}

.game-board {
    display: block;
    float: left;
    overflow: auto;
    width: fit-content;
    height: fit-content;
}

.row {
    display: flex;
}

.cell {
    display: inline;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    font-size: 1em;
    border: gray 2px solid;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.player-display {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

div.cell-wall-top {
    border-top: red 2px solid;
}

div.cell-wall-bottom {
    border-bottom: red 2px solid;
}

div.cell-wall-left {
    border-left: red 2px solid;
}

div.cell-wall-right {
    border-right: red 2px solid;
}

div.cell-reachable {
    background: green;
}

div.cell-reachable:hover {
    background: greenyellow;
}

#game-board div.cell-chosen {
    background: darkgreen;
}

.wall-dir-option {
    background: rgba(0, 0, 255, 150);
    position: absolute;
    z-index: 10;
}

.wall-dir-option:hover {
    background: rgba(0, 150, 255, 150);
}

.wall-dir-option-left {
    margin-top: 0.15em;
    left: -0.3em;
    width: 0.45em;
    height: 0.9em;
}

.wall-dir-option-right {
    margin-top: 0.15em;
    right: -0.3em;
    width: 0.45em;
    height: 0.9em;
}

.wall-dir-option-top {
    margin-left: 0.15em;
    top: -0.3em;
    width: 0.9em;
    height: 0.45em;
}

.wall-dir-option-bottom {
    margin-left: 0.15em;
    bottom: -0.3em;
    width: 0.9em;
    height: 0.45em;
}
