{% extends 'base.html' %}
{% block head %}
<title>困兽围斗: 房间列表</title>
{% endblock %}

{% block body %}
{% if joined_rooms %}
<span>已加入的房间：</span>
<ul>
    {% for room in joined_rooms %}
    <li><a href="{{ room.id }}/">{{ room.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<span>可用房间：</span>
{% if rooms %}
<ul>
    {% for room in rooms %}
    <li><a href="{{ room.id }}/">{{ room.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<span>无</span>
{% endif %}
<div>
    <a href="new/">新建</a>
</div>
{% endblock %}