{% extends 'base.html' %}
{% block head %}
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/forms.css">
    <script src="/static/jsencrypt.min.js"></script>
    <script src="/static/encrypt_password.js"></script>
{% endblock %}
{% block body %}
    <h1>登录</h1>
    <div id="content-main">
        <form action="" method="POST" onsubmit="encrypt_password_before_submit()">
            <fieldset class="module aligned">
                <div class="form-row">
                    <label class="required" for="input-username">用户名：</label>
                    <input id="input-username" name="username" type="text" value="{{ username }}" maxlength="20" required>
                </div>
                <div class="form-row">
                    <label class="required" for="input-password">密码：</label>
                    <input id="input-password" name="password_encrypted" type="password" required>
                </div>
            </fieldset>
            {% if error_message %}
                <ul class="errorlist">
                    <li>{{ error_message }}</li>
                </ul>
            {% endif %}
            <div class="submit-row">
                <input type="submit" value="提交" class="default">
            </div>
        </form>
    </div>




{% endblock %}
