<!DOCTYPE html>
<html>

<head>
    <title>游戏房间 {{ room.name }}</title>
    <meta charset="utf-8">
    <script src="/static/room.js"></script>
    <link rel="stylesheet" href="/static/room.css">
</head>

<body>
    <div class="game-board" id="game-board">

    </div>
    <div class="message-display" id="message-display">
        <div id="status-bar" class="status-bar">
            {{ room.name }}:
            <span id="status-display"></span>
        </div>

    </div>
    <script>
        init_room(parseInt("{{ room.game.size }}"));
    </script>
</body>

</html>